<div class="bg-light  w-100 h-100 p-3 m-0 d-flex flex-column justify-content-between">
  <h1 class="text-center" mat-dialog-title>
    <strong>{{data.title}}</strong>
  </h1>
  <mat-dialog-content class="text-center">
    {{data.content}}?
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="danger" (click)="onNoClose()">{{data.no}}</button>
    <button mat-button color="accent" cdkFocusInitial [mat-dialog-close]="true">{{data.yes}}</button>
  </mat-dialog-actions>
</div>
