<div class="mobile-footer p-0 m-0">
  <mat-card  class="m-0 p-0 footer-card">
    <div class="d-flex m-0 p-0 justify-content-around">
      <!-- home -->
      <div class=" p-1 d-flex flex-column align-items-center">
        <a routerLink="/" mat-icon-button>
          <mat-icon>home</mat-icon>
        </a>
        <p class="p-0 m-0 text-center">home</p>
      </div>
      <!-- explore -->
      <div class="p-1 d-flex flex-column align-items-center">
        <a routerLink="/explore" mat-icon-button>
          <mat-icon>explore</mat-icon>
        </a>
        <p class="p-0 m-0 text-center">explore</p>
      </div>
      <!-- blog -->
      <div class="p-1 d-flex flex-column align-items-center">
        <a routerLink="/rss_feed" mat-icon-button>
          <mat-icon>rss_feed</mat-icon>
        </a>
        <p class="p-0 m-0 text-center">blog</p>
      </div>
      <!-- inbox -->
      <div class="p-0 d-flex flex-column align-items-center">
        <a routerLink="/inbox" mat-icon-button>
          <mat-icon>mail</mat-icon>
        </a>
        <p class="p-0 m-0 text-center">inbox</p>
      </div>
    </div>
  </mat-card>
</div>
